---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Mail Redirect">
    <div class="flex flex-col items-center justify-center min-h-screen">
        <div class="text-center">
            <h1 class="text-2xl font-bold mb-4">Redirecting to Webmail...</h1>
            <p class="text-gray-600">If you are not redirected automatically, click the button below:</p>
            <a 
                href="https://glacier.mxrouting.net/roundcube/"
                class="inline-block mt-4 px-6 py-3 bg-brand text-white rounded-lg font-medium"
            >
                Go to Webmail
            </a>
        </div>
    </div>
</Layout>

<script>
    // Redirect after a short delay
    window.onload = () => {
        setTimeout(() => {
            window.location.href = 'https://glacier.mxrouting.net/roundcube/';
        }, 1000);
    };
</script> 